<form [formGroup]="form">
  <button type="submit" (click)="onSubmit()">submit</button>
  <!--need to import reactiveFormModule in app.module-->
  <div formArrayName="buyerForm" *ngFor="let buyer of buyers;let i=index">
    <div [formGroupName]="i">
      <p>this buyer is: {{buyerForm.controls[i].status}}</p>
      <strong>buyer {{i+1}} : {{buyers[i].name}}</strong>
      <label>OA</label>
      <input type="number" formControlName="oa"
      [ngStyle]="{ 'background-color':buyerForm.controls[i].get('oa').valid ? 'green' : 'red' }"/>
      <!--[formControl] fails to find oa in the current path. assignment of -->
      <p>OA value is index {{i}}, {{buyerForm.controls[i].get('oa').value}}</p>
      <p>this oa is: {{buyerForm.controls[i].get('oa').status}}</p>
      <label>Input</label>
      <input
        type="number"
        formControlName="input"
        [ngStyle]="{ 'background-color':buyerForm.controls[i].valid ? 'green' : 'red' }"
      />
      <div
        *ngIf="buyerForm.controls[i].errors?.inputGreaterOa && (buyerForm.controls[i].touched || buyerForm.controls[i].dirty)">
        input cannot be greater than oa
      </div>
      <!--use validator drive template dynamically prompt-->
      <p>
        input&gt;oa? is {{validateInput(i)}}
      </p>
      <!--use escape char &lt; for smaller sign-->
      <p>input value is {{buyerForm.controls[i].get('input').value}}</p>
      <p>this input is: {{buyerForm.controls[i].get('input').status}}</p>

    </div>
  </div>
</form>